pandas-ta-classic
mplfinance
ta
openpyxl
tables
tindicators
pyarrow
fastparquet
lightweight-charts
seaborn
diptest
scipy
hmmlearn
MetaTrader5
ccxt
pyTelegramBotAPI
psutil
fastapi
uvicorn
python-multipart
Cython